.grid-33
	.app--section
		ul.app--message--list
			li
				h3 Conversations with 
					a(href="#") #{timeline[0].user.screen_name}
				ul.app--message--conversation
					each direct_message in direct_messages 
						li.app--message
							.app--avatar(style='background-image: url(' + direct_message.sender.profile_image_url + ')')
								//img(src=direct_message.sender.profile_image_url)
							p.app--message--text #{direct_message.text}
							p.app--message--timestamp #{direct_message.created_at.slice(0,19)}
					each sent_message in sent_messages
						li.app--message--me
							.app--avatar(style='background-image: url(' + sent_message.sender.profile_image_url + ')')
								//img(src=sent_message.sender.profile_image_url)
							p.app--message--text #{sent_message.text}
							p.app--message--timestamp #{sent_message.created_at.slice(0,10)}
		